.form{
    width: 60%;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    align-items: center;
    &__container{
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        &__input{
            background-color: yellowgreen;
            width: 60%;
            height: 10vh;
            transform: skew(170deg);
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &__input{
                display: inline-block;
                border: none;
                background: transparent;
                width: 80%;
                padding: 10px;
                transform: skew(10deg);
                font-size: 20px;
                outline: none;
                transition: 0.3s;
                &:active{
                    border: none;
                    list-style: none;
                }
                &:focus{
                    border: none;
                    list-style: none;
                    outline: none;
                    border-bottom: 1px solid #1a73a8;
                }
                &:focus ~ .form__container__input__label,
                &:not(:placeholder-shown) ~ .form__container__input__label{
                    top: 20px;
                    font-size: 12px;
                    color: #e0e0e0;
                }
            }
    
            &__label{
                position: absolute;
                top: 35px;
                left: 65px;
                z-index: -1;
                color: #9e9e9e;
                transition: 0.3s;
                transform: skew(10deg);
                font-size: 20px;
                font-family: sans-serif;
            }
        }
        &__button{
            background-color: chocolate;
            width: 40%;
            height: 10vh;
            transform: skew(170deg);
            border: none;
            outline: none;
            transition: 0.3s;
            cursor: pointer;
            :focus{
                border: none;
                outline: none;
            }
            :hover{
                transform: scale(1.2);
            }
            
            :active{
                border: none;
                outline: none;
            }
            &__span{
                display: inline-block;
                transform: skew(10deg);
                font-size: 20px;
                transition: 0.3s;
               
            }
        }
    }
}
.error{
    border: 3px solid red;
    padding: 15px;
    border-radius: 15px;
}


.form__container__input__input:not(:placeholder-shown) ~ .form__container__input__label{
    top: 20px;
    font-size: 12px;
    color: #e0e0e0;
}

@media all and (max-width: 700px){
    .form{
        width: 90%;
    }
    .form__container__input{
        transform: skew(0deg);
        &__input{
            transform: skew(0deg);
            font-size: 12px;
            }
        &__label{
            font-size: 12px;
            left: 30px;
            top: 18px;
            transform: skew(0);
        }
    }
    .form__container__button{
        transform: skew(0deg);
        &__span{
            transform: skew(0deg);
            font-size: 12px;
        }
    }
}


.form__container__input__input:focus ~ .form__container__input__label
{
    display: none;
}